<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @order.item.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>

<p>
    <strong>Store:</strong>
    <%= @order.stores.each.map{ |store| store.name }.join(', ') %>
</p>

<p>
  <strong>Created:</strong>
  <%= @order.created_at.to_formatted_s(:db) %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @order.updated_at.to_formatted_s(:db) %>
</p>

<p>
  <strong>Completed:</strong>
  <% if @order.fullfilled? %>
    <%= @order.completed.to_formatted_s(:db) %>
  <% else %> - <% end %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

<form action="/orders/<%= @order.id %>/buy" method='POST'>
    <input type="submit" value="Buy">
</form>
<form action="/orders/<%= @order.id %>/cancel" method='POST'>
    <input type="submit" value="Cancel">
</form>
<form action="/orders/<%= @order.id %>/plusone" method='POST'>
    <input type="submit" value="Plusone">
</form>