<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @order.item.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.email %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @order.completed.to_formatted_s(:db) %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>